<?xml version="1.0"?>
<!-- scan是否定時檢查此配置文檔的更新，scanPeriod為檢查間隔，默認1分鐘，單位ms -->
<configuration scan="true" scanPeriod="60000">

	<!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径 -->
	<property name="LOG_HOME" value="e:/log" />

	<!-- ch.qos.logback.core.ConsoleAppender 控制台输出 -->
	<appender name="console"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %logger{36}
				- %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- ch.qos.logback.core.rolling.RollingFileAppender 文件日志输出 -->
	<appender name="file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- 日志输出编码 -->
		<Encoding>UTF-8</Encoding>
		<!--日志文件输出的文件名 -->
		<File>${LOG_HOME}/test2.log</File>

		<!-- daily rollover，By天寫日誌 -->
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/test2_%d{yyyy-MM-dd}-%i.log
			</FileNamePattern>
			<!-- keep 10 days' worth of history -->
			<MaxHistory>10</MaxHistory>
			<!-- or whenever the file size reaches 15MB -->
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>15MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<!--格式化输出：%-5level：级别从左显示5个字符宽度,%d表示日期，%thread表示线程名，%class類名，%method方法，%L代碼行數，%msg：日志消息，%n是换行符 -->
		<!-- Logger: %logger -->
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]
				[%class.%method.%L] - %msg%n
			</pattern>
		</layout>
	</appender>

	<property name="CLOG_HOME" value="e:/classLog" />
	<!-- ch.qos.logback.core.rolling.RollingFileAppender 文件日志输出 -->
	<appender name="classFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<File>${CLOG_HOME}/uiRest.log</File>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${CLOG_HOME}/uiRest_%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<MaxHistory>10</MaxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]
				[%class.%method.%L] - %msg%n
			</pattern>
		</layout>
	</appender>

	<!-- 截取某一個package下的類，或某個類的log信息，level:截取級別，additivity:截取後，log信息是否繼續上拋 levels 
		are: off, trace, debug, info, warn, error and all -->
	<logger name="com.data.db.base" level="INFO" additivity="true">
		<appender-ref ref="classFile" />
	</logger>
	<!--日志级别 -->
	<root>
		<!-- 定义了ERROR和INFO级别的日志，分别在FILE文件和控制台输出 -->
		<level value="INFO" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>


</configuration>
